.mainContent{
    grid-area: mainContent;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr; 
    grid-template-areas: 
    "caballeroImg contentTitle"
    "caballeroImg liMain"
    ;
    color: map-get($paleta, blanco);
    .caballeroImg{
        grid-area: caballeroImg;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contentTitle{
        display: flex;
        align-items: center;
        grid-area: contentTitle;
        text-decoration: none;
        font-family: $ff-title;
        font-size: x-large;
        word-spacing: 2px;
        letter-spacing: 1px;
        text-shadow: map-get($paleta, negro ) 3px 3px 1px;
    }
    .liMain{
        grid-area: liMain;
        font-size: larger;
        word-spacing: 2px;
        letter-spacing: 1px;
        text-shadow: map-get($paleta, negro ) 3px 3px 1px;
        font-family: $ff-text;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .lista1{
            animation-name: lista1;
            animation-iteration-count: initial;
            animation-timing-function: ease-in;
            animation-duration: 3s;  
        }
        @keyframes lista1{
            0%{color: map-get($paleta, dorado );}
            25%{font-size: 20px;}
            90%{color: map-get($paleta, blanco );}
        }
        .lista2{
            animation-name: lista2;
            animation-iteration-count: initial;
            animation-timing-function: ease-in;
            animation-duration: 3s;  
            animation-delay: 4s;
        }
        @keyframes lista2{
            0%{color: map-get($paleta, dorado );}
            25%{font-size: 20px;}
            90%{color: map-get($paleta, blanco );}
        }
        .lista3{
            animation-name: lista3;
            animation-iteration-count: initial;
            animation-timing-function: ease-in;
            animation-duration: 3s;
            animation-delay: 8s;  
        }
        @keyframes lista3{
            0%{color: map-get($paleta, dorado );}
            25%{font-size: 20px;}
            90%{color: map-get($paleta, blanco );}
        }
        .lista4{
            animation-name: lista4;
            animation-iteration-count: initial;
            animation-timing-function: ease-in;
            animation-duration: 3s;  
            animation-delay: 12s;
        }
        @keyframes lista4{
            0%{color: map-get($paleta, dorado );}
            25%{font-size: 20px;}
            90%{color: map-get($paleta, blanco );}
        }
        .lista5{
            animation-name: lista5;
            animation-iteration-count: initial;
            animation-timing-function: ease-in;
            animation-duration: 3s; 
            animation-delay: 16s; 
        }
        @keyframes lista5{
            0%{color: map-get($paleta, dorado );}
            25%{font-size: 20px;}
            90%{color: map-get($paleta, blanco );}
        }
    }
}
.bus{
    grid-area: bus;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 
    "buscadorTitle buscadorTitle buscadorTitle"
    "none buscador magoElc"
    "none pBuscador magoElc"
    ;
    color: map-get($paleta, blanco );
    .none{
        grid-area: none;
    }
    .buscadorTitle{
        grid-area: buscadorTitle;
        font-family: 'Alfa Slab One', cursive;
        word-spacing: 2px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        text-shadow: map-get($paleta, negro ) 3px 3px 1px;
    }
    .magoElc{
        grid-area: magoElc;
    }
    .pBuscador{
        display: flex;
        justify-content: center;
        grid-area: pBuscador;
        font-size: large;
        word-spacing: 2px;
        letter-spacing: 1px;
        text-shadow: map-get($paleta, negro ) 3px 3px 1px;
        font-family: $ff-text;
    }
    .buscador{
        grid-area: buscador;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .formBuscador{
            color: map-get($paleta, blanco );
            width: 15rem;
            font-size: larger;
            word-spacing: 2px;
            letter-spacing: 1px;
            text-shadow: map-get($paleta, negro ) 3px 3px 1px;
            background: map-get($paleta, rojo );
            font-family: $ff-text;
        }
        .boton{
            width: 6rem;
            font-size: larger;
            word-spacing: 2px;
            letter-spacing: 1px;
            color: map-get($paleta, blanco );
            text-shadow: map-get($paleta, negro ) 3px 3px 1px;
            background: map-get($paleta, rojo );
            font-family: $ff-text;
            transition: ease 1s all;
            &:hover{
                background-color: map-get($paleta, rojo-claro );
                color: map-get($paleta, dorado );
            }
        }
    }
}