.hTitle{
    grid-area: hTitle;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $ff-title;
    color: map-get($paleta, blanco );
    word-spacing: 2px;
    letter-spacing: 1px;
    text-shadow: map-get($paleta, negro ) 3px 3px 1px;
}
.primeraSeccion{
    grid-area: primeraSeccion;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "none nombreDelMazo ejemplo"
    "none descripcionPrincipal ejemplo"
    ;
    gap: 30px;
    .ejemplo{
        grid-area: ejemplo;
        border: solid map-get($paleta, negro ) 2px;
        border-radius: 20px;
        display: inline-block;
        width: 370px;
    }
    .nombreDelMazo{
        grid-area: nombreDelMazo;
        font-family: 'Alfa Slab One', cursive;
        font-size: x-large;
        color: map-get($paleta, blanco );
        word-spacing: 2px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-shadow: map-get($paleta, negro ) 3px 3px 1px;
    }
    .descripcionPrincipal{
        grid-area: descripcionPrincipal;
        font-size: larger;
        text-align: center;
        word-spacing: 2px;
        letter-spacing: 1px;
        color: map-get($paleta, blanco );
        text-shadow: map-get($paleta, negro ) 3px 3px 1px;
        font-family: $ff-text;
    }
}
.segundaSeccion{
    grid-area: segundaSeccion;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "none tercerTitle imagenMonta"
    "none  descripcionMonta imagenMonta"
    ;
    color: map-get($paleta, blanco );
    .tercerTitle{
        grid-area: tercerTitle;
        text-align: center;
        font-family: 'Alfa Slab One', cursive;
        font-size: x-large;
        word-spacing: 2px;
        letter-spacing: 1px;
        text-shadow: map-get($paleta, negro ) 3px 3px 1px;
    }
    .descripcionMonta{
        grid-area: descripcionMonta;
        text-align: center;
        font-size: larger;
        word-spacing: 2px;
        letter-spacing: 1px;
        text-shadow: map-get($paleta, negro ) 3px 3px 1px;
        font-family: $ff-text;
    }
    .imagenMonta{
        grid-area: imagenMonta;
    }
}