


/*media queries de los body*/ 



@media screen and (max-width: 420px){
    .body{
        background-image: url(../imagenes/cr.png);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 340px 1100px 4fr 60px;
        grid-template-areas: 
        "navegador"
        "mainContent"
        "bus"
        "footer"
        ;
    }
    .body3{
        background-image: url(../imagenes/cr.png);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 340px 100px 2fr 60px;
        grid-template-areas: 
        "navegador"
        "rTitle"
        "formulario"
        "footer"
        ;
        gap: 20px;
    }
    .body4{
        background-image: url(../imagenes/cr.png);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 340px 100px 3fr 60px;
        grid-template-areas: 
        "navegador"
        "nTitle"
        "nLista"
        "footer"
        ;
    }
    .body5{
        background-image: url(../imagenes/cr.png);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 340px 300px 1fr 1fr 60px;
        grid-template-areas: 
        "navegador"
        "dHeader"
        "cajaPaypal"
        "duendeImg"
        "dSaludos"
        "footer"
        ;
    }
}