
/*MediaQuerie 420px Donaciones Page*/

@media screen and (max-width: 420px){
    .hTitle{
        margin-top: 50px;
        h1{
            font-size: 2.3rem;
        }
    }
    .cajaPaypal{
        width: 95%;
        margin: 2%;
        height: 22rem;
        .dPaypal{
            .paypal{
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}
