
/*420px media querie de Mazos Page*/



@media screen and (max-width: 420px){
    .hTitle{
        margin-top: 50px;
        h1{
            font-size: 2.3rem;
        }
    }
    .seccionMazos{
        margin-top: 50px;
        .mazo{
            .mainContent{
                flex-direction: column;
                width: 95%;
                height: 40rem;
                align-items: center;
                justify-content: center;
                gap: 30px;
                .content{
                    width: 95%;
                    h3{
                        font-size: 1.7rem;
                        text-align: center;
                        margin-top: 0;
                    }
                    .pMazoContainer{
                        align-self: center;
                    }
                }
                .containerMazo{
                    img{
                        width: 280px;
                        height: 200px;
                        margin-top: 0;
                    }
                }
            }
        }
        .winCond{
            width: 95%;
            flex-direction: column;
            height: 40rem;
            img{
                width: 68%;
                order: 2;
                height: auto;
                align-self: center;
            }
            .contentWin{
                order: 1;
                width: 90%;
                h3{
                    font-size: 1.5rem;
                }
                .pCardContent{
                    height: 13rem;
                    h4{
                        font-size:1.5rem;
                    }
                }
            }

        }
    }
}
