
/*mediaquery de la home page*/


@media screen and(max-width: 420px){
    .homeCarrusel{
        width: 95%
    }
    .winCond{
        @include flex-column-center;
        width: 90%;
        margin-top: 50px;
        height: auto;
        img{
            margin-top: 10px;
        }
        .contentWin{
            width: 100%;
            margin-left: 0;
            .buscador{
                .formBuscador{
                    width: 10rem;
                }
                .boton{
                    font-size: 1.2rem;
                }
            }
            .pCardContent{
                width: 90%;
                margin: auto;
                margin-bottom: 10px;
            }
        }
    }
    .mainContent{
        grid-area: mainContent;
        display: grid;
        grid-template-rows: 1fr 2fr 4fr;
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "contentTitle"
        "caballeroImg"
        "liMain"
        ;
        .contentTitle{
            text-align: center;
        }
        .caballeroImg{
            display: inline-block;
            margin-left: 0;
            margin: auto;
        }
    }
}

