


/*media queries de los body*/ 



@media screen and (max-width: 420px){
    .body4{
        background-image: url(../imagenes/cr.png);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 340px 100px 3fr 60px;
        grid-template-areas: 
        "navegador"
        "nTitle"
        "nLista"
        "footer"
        ;
    }
}