
/* contenido de Nosotros */

@media screen and (max-width: 420px){
    .nLista{
        grid-area: nLista;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 600px 200px 200px;
        grid-template-areas: 
        "nliMain"
        "nImg"
        "nSaludos"
        ;
        .nImg{
            display: inline-block;
            width: 16rem;
            margin: auto;
        }
        .nliMain{
            font-size: x-large;
            text-align: center;
            word-spacing: 2px;
            letter-spacing: 1px;
            color: map-get($paleta, blanco );
            text-shadow: map-get($paleta, negro ) 3px 3px 1px;
            font-family: $ff-text;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
        .nSaludos{
            font-size: 1.8rem;
        }
    }
}