/* 420px media querie Registro Page */


@media screen and (max-width: 420px){
    .hTitle{
        margin-top: 50px;
        h1{
            font-size: 2.3rem;
        }
    }
    .formulario{
        display: flex;
        flex-direction: column-reverse;
        font-family: $ff-text;
        margin-bottom: 30px;
        .rImg{
        margin: auto;
        }
        .form{
        padding: 4%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 35px;
        .boton{
            display: inline-block;
            width: 10rem;
            align-self: center;
            }
        }
        .input{
        @include text-style-white;
        margin: auto;
        }
    }
}
