
/* Donaciones Scss */


.cajaPaypal{
    width: 40rem;
    height: 20rem;
    @include caja-gradiante;
    margin: auto;
    margin-top: 50px;
    .dPaypal{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-family: $ff-text;
        .boton{
            @include gradiant-legendary;
            @include button;
        }
        .paypal{
            @include title-style;
            font-size: 1.7rem;
            margin-top: 20px;
        }
        .paypal1{
            @include text-style;
            font-size: 1.4rem;
        }
        .importe{
            @include title-style;
            font-size: 1.5rem;
        }
    }
}
.saludos{
    @include flex-column-center;
    flex-direction: column-reverse;
    margin-top: 40px;
    .duendeImg{
        margin: auto;
        width: 20rem;
    }
    .dSaludos{
        @include title-style;
        text-align: center;
    }
}
