.footer{
    grid-area: footer;
    .ulFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        .iconA{
            transition: all 1s ease;
            &:hover{
                transform: scale(1.5, 1.5);
                filter: brightness(200%);
            }
        }
    }
}
.bFooter{
    background-color: map-get($paleta, azul );
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: black 5px 3px 5px;
    .contactFooter{
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: 10px;
        @include title-style;
    }
    .flowRoyaleFooter{
        display: inline-block;
        width: 300px;
        padding: 10px;
        background-color: map-get($paleta, rojo );
    }
    ul{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        li{
            list-style-type: none;
            a{
                img{
                    margin-top: 20px;
                    display: inline-block;
                    width: 50px;
                }
            }
        }
    }
}
@media screen and (max-width: 420px){
    .bFooter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        box-shadow: map-get($paleta, negro ) 2px 1px 5px;
        .flowRoyaleFooter{
            width: 100%;
        }
        ul{
            width: 100%;
        }
        .contactFooter{
            font-size: 1.3rem;
        }
    }
}