.nLista{
    grid-area: nLista;
    display: grid;
    margin: 2%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
    "nliMain nImg"
    "nSaludos nSaludos"
    ;
    .nImg{
        grid-area: nImg;
    }
    .nliMain{
        grid-area: nliMain;
        @include text-style-white;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .nlista1{
            animation-name: nlista1;
            @include animacion-focus;
        }
        @keyframes nlista1{
            0%{color: map-get($paleta, dorado );}
            90%{color: map-get($paleta, blanco );}
        }
        .nlista2{
            animation-name: nlista2;
            @include animacion-focus;
            animation-duration: 4s;  
            animation-delay: 5s;
        }
        @keyframes nlista2{
            0%{color: map-get($paleta, dorado );}
            90%{color: map-get($paleta, blanco );}
        }
        .nlista3{
            animation-name: nlista3;
            @include animacion-focus;
            animation-duration: 4s;
            animation-delay: 10s;  
            .linkDonaciones{
                color: map-get($paleta, dorado );
                text-decoration: map-get($paleta, dorado);
                font-size: 1.9rem;
            }
        }
        @keyframes nlista3{
            0%{color: map-get($paleta, dorado );}
            90%{color: map-get($paleta, blanco );}
        }
        .nlista4{
            animation-name: nlista4;
            @include animacion-focus;
            animation-duration: 4s;  
            animation-delay: 15s;
        }
        @keyframes nlista4{
            0%{color: map-get($paleta, dorado );}
            90%{color: map-get($paleta, blanco );}
        }
    }
    .nSaludos{
        grid-area: nSaludos;
        @include title-style;
        font-size: 2rem;
        text-align: center;
        margin-top: 50px;
    }
}