
/* Registro page*/

.formulario{
    @include flex-row-center;
    @include text-style-white;
    margin-top: 60px;
    margin-bottom: 70px;
    .form{
        padding: 5%;
        .boton{
            @include button;
            @include gradiant-legendary-middle-animation;
            transition: 1s all ease;
            font-size: 1.3rem;
            &:hover{
                border: map-get($paleta, dorado ) solid 2px;
            }
        }
        .negro{
            font-size: 1.5rem;
        }
        .input{
            font-size: 2rem;
        }
    }
}
.contactoEmail{
    margin: auto;
    margin-bottom: 50px;
    @include caja-gradiante;
    @include flex-column-center;
    gap: 2rem;
    width: 30rem;
    h2{
        @include title-style;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 10px;
    }
    form{
        @include title-style;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-around;
        label{
            font-size: 1.2rem;
        }
        input{
            @include text-style;
            font-size: 1.2rem;
        }
        textarea{
            @include text-style;
            font-size: 1.2rem;
        }
        .boton{
            @include gradiant-legendary;
            @include button;
            width: 6rem;
            margin: auto;
            margin-bottom: 10px;
        }
    }
}

