/* Registro page*/

.formulario{
    @include flex-row-center;
    @include text-style-white;
    margin-top: 60px;
    margin-bottom: 70px;
    .form{
        padding: 5%;
        .boton{
            @include button;
            @include gradiant-legendary-middle-animation;
            transition: 1s all ease;
            font-size: 1.3rem;
            &:hover{
                border: map-get($paleta, dorado ) solid 2px;
            }
        }
        .negro{
            font-size: 1.5rem;
        }
        .input{
            font-size: 2rem;
        }
    }
}
